*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   
}
.box{
    
    margin-top: 20%;
    width: 200px;
    height: 150px;
    background-color: rgb(127, 47, 47);
    border-radius: 5px;
}
button{
    padding: 10px;
    background-color: rgb(42, 76, 56);
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
button:active {
    scale: 0.99;
}

